@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat Medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
body header {
    width: 100%;
    float: left;
}
body header .headerInside .logoAndContacts {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

}
body header .headerInside .logoAndContacts .logo {
    display: block;
}
body header .headerInside .logoAndContacts .contactUnitWrap {
    padding-left: 60px;
    height: 51px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
    color: #6a6a6a;
    padding-top: 5px;
    box-sizing: border-box;
    justify-self: end;
}
body header .headerInside .logoAndContacts .contactUnitWrap .topLine {
    font-family: "Open Sans Bold", sans-serif;
}
body header .headerInside .logoAndContacts .contactWorkWrap {
    background: url(../img/workTime.png) no-repeat left center;
}
body header .headerInside .logoAndContacts .mailUsWrap {
    background: url(../img/mailUs.png) no-repeat left center;
}
body header .headerInside .logoAndContacts .callUsWrap {
    background: url(../img/callUs.png) no-repeat left center;
}  
body header .headerInside .headerLine {
    background-color: #c2c2c2;
    opacity: 0.31;
    height: 2px;
    margin-top: 20px;
}
body header .navAndSocials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: "mainNav mainNav . socials";
}
body header .navAndSocials .mainNav {
    grid-area: mainNav;
}
body header .navAndSocials .socials {
    grid-area: socials;
    text-align: right;
}
body header .headerInside .navAndSocials .mainNav a {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 20px;
    color: #6c6c6c;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
}
body header .headerInside .navAndSocials .mainNav a:hover {
    color: #1a9bdc;
}
body header .headerInside .navAndSocials .mainNav a:first-child {
    padding-left: 0;
}
body header .headerInside .navAndSocials .mainNav a:last-child {
    padding-right: 0;
}
body header .headerInside .navAndSocials .socials a {
    text-decoration: none;
    font-size: 20px;
    color: #191919;
    margin: 0 10px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
}
body header .headerInside .navAndSocials .socials a:hover {
    color: #1a9bdc;
}
body header .headerInside .navAndSocials .socials a:first-child {
    margin-left: 0;
}
body header .headerInside .navAndSocials .socials a:last-child {
    margin-right: 0;
}

body .medicalCarePlan {
    width: 1600px;
    height: 640px;
    margin: 0 auto;
    float: left;
    outline: 1px solid #6c6c6c;
}

body .benefits {
    width: 1600px;
    margin: 0 auto;
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43b1d2+0,37c3a8+100 */
    background: #43b1d2;
    /* Old browsers */
    background: -moz-linear-gradient(left, #43b1d2 0%, #37c3a8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #43b1d2 0%, #37c3a8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #43b1d2 0%, #37c3a8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43b1d2', endColorstr='#37c3a8', GradientType=1);
    /* IE6-9 */
}
body .benefits .benefitsInside {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
}
body .benefits .benefitsInside .benefitUnit {
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body .benefits .benefitsInside .benefitUnit .benefitIcon {
    width: 75px;
    height: 75px;
    background-size: contain;
}
body .benefits .benefitsInside .benefitUnit .bestTreatment {
    background: url(../img/bestTreatment.png) no-repeat center center;
}
body .benefits .benefitsInside .benefitUnit .emergencyHelp {
    background: url(../img/emergencyHelp.png) no-repeat center center;
}
body .benefits .benefitsInside .benefitUnit .medicalStaff {
    background: url(../img/medicalStuff.png) no-repeat center center;
}
body .benefits .benefitsInside .benefitUnit .qualifiedDoctors {
    background: url(../img/qualifiedDoctors.png) no-repeat center center;
}
body .benefits .benefitsInside .benefitUnit .benefitUnitHead {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 30px 0;
}
body .benefits .benefitsInside .benefitUnit .benefitUnitDesc {
    font-size: 14px;
    font-family: "Open Sans Regular", sans-serif;
    text-align: center;
    color: #ffffff;
}